[submodule "FW"]
	path = FW
	url = https://github.com/NeeharicaPallapati/FW.git
	branch = main
[submodule "Prucom"]
	path = Prucom
	url = https://github.com/NeeharicaPallapati/Prucom.git
	branch = main
